<script src={{ ""  | absURL  | safeURL}}"{{ "js/jquery.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/bootstrap.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/jquery.cookie.js" | relURL }}"> </script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/ekko-lightbox.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/jquery.scrollTo.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/masonry.pkgd.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/imagesloaded.pkgd.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/owl.carousel.min.js" | relURL | safeURL}}"></script>
<script src={{ ""  | absURL  | safeURL}}"{{ "js/front.js" | relURL | safeURL}}"></script>
