{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-10 content-column">
  {{ partial "mobileNavToggle.html" . }}
  <div class="grid">
    <div class="row">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 masonry-item">
            <div class="box-masonry">
              <a href="{{ "/" | relLangURL }}{{ $name | urlize }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                  <img src="../../img/categories/{{ $name }}.jpg" alt="" class="img-responsive">
              </a>
              <div class="box-masonry-text">
                <h4><a href="{{ "/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></h4>
              </div>
            </div>
          </div>
      {{ end }}
      {{ partial "antiAd.html"}}
    </div>
  </div>
</div>
{{ end }}
