/* your styles go here */
html, body, #all {
  height: 100%
}

#sidebar {
  border: black;
  border-style: solid;
  border-width: 12px;
  min-height: 660px;
  padding-top: 10px;
  padding-left: 8px;
}

.sidebar-heading {
    font-size: 26px;
    width: 100%;
}

.sidebar-heading a img{
    width: 100%;
}

.sidebar-content {
  padding-left: 0px;
}

.sidebar-menu {
  padding-left: 30px;
}

.sidebar-menu li{
  font-size: 20px;
}

.row {
    margin: 0px;
}

.grid {
    margin: 0px;
    padding: 0px;
}

.content-column {
  padding: 0px;
}

.box-masonry {
  border: black;
  border-style: solid;
  height: 200px;
  border-width: 12px;
  background-color: black;

}

.container-fluid {
  padding: 50px;
}

.container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -92px; /* the bottom margin is the negative value of the footer's height */
}

.claff-footer, .push {
    height: 92px; /* .push must be the same height as .footer */
}

.box-masonry-text h4{
  font-size: 24px;
}

.box-masonry-text h4 a{
  color: #ffffff;
}

.box-masonry-text{
  position: absolute;
}

.box-masonry-image{
  min-width: 100%;
  height: auto;
  opacity: 0.5;
}

.box-masonry .box-masonry-image{
  position: absolute;
}

.masonry-item {
  padding-right: 0px;
}

.box-masonry h4 a:hover {
  border-bottom: none;
}

p.social a {
  width: 45px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: block;
}

.fa {
  font-size: 30px;
}

.claff-footer a p u {
  text-decoration: none;
  border-bottom: black;
  border-bottom-style: solid;
  border-width: 8px;
  color: black;
  font-size: 27px;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .row-offcanvas-left.active {
      left: 60%;
  }

  .row-offcanvas-left .sidebar-offcanvas {
      left: -64%;
  }

  .claff-footer {
    display: none;
  }

}
